@charset "utf-8"; 

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://webfontworld.github.io/naver/NanumSquareRound.css');
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

/* @ RESET CSS */ 
html, body, div, p, span, strong, b, em, iframe, pre, 
h1, h2, h3, h4, h5, h6, 
img, dl, dt, dd, 
fieldset, form, legend, label, 
table, caption, thead, tbody, tfoot, tr, th, td, 
ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; } 

body {font-family:'Noto Sans KR', 'NanumBarunGothic', 굴림, MalgunGothic, '맑은 고딕','돋움', Dotum, AppleGothic, Sans-serif, Arial; font-size:12%; line-height: 1.5;color: #565656;} 

ul, ol, li {list-style: none;} 
em, address {font-style: normal;} 
img {border: 0 none; font-size: 0;line-height: 0;} 
sup {position: relative;top: 2px;font-size: 12px;line-height: 100%;} c
table {border-collapse: collapse; border-spacing:0; } 
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;} 
th, td { vertical-align: middle;} 
a {color: #565656; text-decoration: none; line-height: 1.5;} 
a:hover, a:focus, a:active {color: #565656; text-decoration: none;} 
a:visited {color: #333;} 
*, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

/* common ******************/
header, section, nav, article, footer { display: block; text-align:left;}
*:focus {outline:none;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}

.wrap {
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
}
.blind {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0 !important;
    padding: 0 !important;
    border: none;
    opacity: 0;
    font: 0/0 m;
    color: transparent;
}
.font-14 {font-size: 14px !important;}
.font-16 {font-size: 16px !important;}
.font-19 {font-size: 19px !important;}

/* HEADER  ******************/
.header {
    width:100%;
    min-height: 204px;
    padding: 25px 20px 0;
    background: url('../images/box_top@2x.jpg') no-repeat center;
    background-size: cover;
}
.header .logo {
    width: 86px;
    height: 35px;
    background: url('../images/bibaboo_logo@2x.png') no-repeat center;
    background-size: cover;
}
.header .p-info {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}
.header .p-info .txt {font-size: 13px;}
.badge-list {
    display: flex;
    margin-top: 27px;
}
.badge-list li {margin-right: 20px;}
.badge-list li:last-child {margin-right: 0;}
.badge-list .badge {
    position: relative;
    display: inline-block;
    min-width: 88px;
    height: 22px;
    border-radius: 11px;
    color: #fff;
    text-align: center;
}
.badge-list .badge span {
    display: block;
    min-width: 88px;
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 20px;;
    border-radius: 11px;
}
.badge-list .badge-violet {background-color: #9e0dff;}
.badge-list .badge-violet span {background-color: #b454f4;}
.badge-list .badge-yellow {background-color: #b16400;}
.badge-list .badge-yellow span {background-color: #ffd400;}
.badge-list .badge-sky {background-color: #1e749a;}
.badge-list .badge-sky span {background-color: #42c6ff;}
.badge-list .badge-blue {background-color: #1931c2;}
.badge-list .badge-blue span {background-color: #4f67ff;}
.badge-list .badge-gray {background-color: #989696; color: #565656}
.badge-list .badge-gray span {background-color: #e5e5e5;}
.badge-list .badge-gray.on {background-color: #1931c2;}
.badge-list .badge-gray.on span {background-color: #4f67ff; color: #fff;}

/* CONTAINER  ******************/
.body-container {
    background-color: #F4F7FB;
    padding-bottom: 20px;
}
.body-container section {
    padding: 0 20px; 
}
.date {
    height: 34px;
    background-color: #E3E6EF;
    font-weight: bold;
    font-size: 16px;
    line-height:34px;
    color:#565656;
    text-align: center;
}

.sect-title {
    margin: 60px 0 20px;
    font-weight: bold;
    font-size:18px;
}
.sub-tit {
    padding: 21px 0 0 34px;
    font-weight: bold;
    font-size: 16px;
}
.con-tit {
    padding: 11px 0 0 20px;
    font-weight: bold;
    font-size: 16px;
}
.round-box-wide {
    padding-bottom: 18px;
    margin-bottom: 14px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color: #fff;
}
.round-box-wide .comt {
    margin: 0 24px 9px; 
    padding: 14px 10px;
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 18px;
}
.round-box-wide .box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.round-box-wide .chart-line2 {
    position: relative;
    padding: 15px 35px 20px;
}
.round-box-wide .chart-line2:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 63px;
    bottom: 20px;
    width: 2px;
    background: #fff;
}

.weekly-box-wide  {
    display: flex;
    padding-bottom: 18px;
    margin-bottom: 14px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color: #fff;
}
.weekly-box-wide.pdb0 {padding-bottom: 5px}
.weekly-box-wide .chart-doughnut {
    width: 38%;
    padding: 5px 10px 0 25px;
}
.weekly-box-wide .chart-line-box {
    position: relative;
    width: 62%;
    padding: 15px 20px 0 10px;
    text-align: center;
    box-sizing: border-box;
}
.weekly-box-wide .chart-line-box .ps-num {
    position: absolute;
    top: 35px;
    display: flex;
    width: calc(100% - 82px);
    margin: 0 0 0 52px;
    justify-content: flex-end;
}
.weekly-box-wide .chart-line-box .ps-num li {
   width: 25%;
   text-align: right;
   font-size: 10px;
   font-weight: 500;
   
}
/* .weekly-box-wide .chart-line-box .ps-num li:first-child,
.weekly-box-wide .chart-line-box .ps-num li:nth-child(3) {background:red;}
.weekly-box-wide .chart-line-box .ps-num li:nth-child(2) {background:blue;}
.weekly-box-wide .chart-line-box .ps-num li:nth-child(4) {background:blue;} */
.weekly-box-wide .chart-line-box .chart-line {
    margin-top: -30px;
    position: relative;
}
.weekly-box-wide .chart-line-box .chart-line:before {
    content:'';
    display:block;
    position: absolute;
    top: 74px;
    left: 21px;
    width: 12px;
    height: 100px;
    background:#fff;
}
.box-top .badge-list {
    margin-top: 11px;
}
.box-top .badge-list li {
    margin-right: 8px;
}
.box-top .badge-list li:last-child {
    margin-right: 0;
}
.box-top .badge-list .badge {
    min-width: 58px;
    height: 17px;
}
.box-top .badge-list .badge span {
    min-width: 58px;
    height: 15px;
    padding: 0 3px;
    line-height: 15px;
    font-size: 12px;
}


.summary-list {
    display: flex;
    justify-content: center;
}
.summary-list li {
    width: 24%;
    margin-left: 11px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #E5E5E5;
}
.summary-list li:first-child {margin-left: 0;}
.summary-list li .tit {
    margin: 0 3px;
    padding: 14px 0 5px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}
.summary-list li .cnt {
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #4F67FF;
}
.summary-list.col2 {margin-top: 10px;}
.summary-list.col2 li {
    width: 37.4%;
}

/* accordion */
.accordion-item {
    position: relative;
    margin-top: 14px;
    padding: 15px 14px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color: #fff;
}
.accordion .acod-top {
    padding-bottom: 7px;
}
.accordion .acod-top .label {
    padding: 0 7px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.accordion .acod-top .violet {background-color: #93A2F7; color: #DEE1FF;}
.accordion .acod-top .yellow {background-color: #FAC955; color: #FEF8E9;}
.accordion .acod-top .sky {background-color: #33C2EC; color: #C2EDF9;}
.accordion .acod-top .tit {
    font-weight: bold;
    font-size: 14px;
}
.accordion .btn-arrow {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 48px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='40' viewBox='0 0 48 40'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='48' height='40' fill='none'/%3E%3C/clipPath%3E%3Cfilter id='사각형_4244' x='0' y='0' width='48' height='40' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='4' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='blur'/%3E%3CfeFlood flood-opacity='0.102'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3C/filter%3E%3Cfilter id='사각형_4167' x='9' y='5' width='30' height='23' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='2' input='SourceAlpha'/%3E%3CfeGaussianBlur result='blur-2'/%3E%3CfeFlood flood-color='%23989696'/%3E%3CfeComposite operator='in' in2='blur-2'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg id='bt_details_off' clip-path='url(%23clip-path)'%3E%3Cg id='상세버튼on' transform='translate(-171 -779.364)'%3E%3Cg transform='matrix(1, 0, 0, 1, 171, 779.36)' filter='url(%23사각형_4244)'%3E%3Crect id='사각형_4244-2' data-name='사각형 4244' width='30' height='22' rx='11' transform='translate(9 5)' fill='%23fff'/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 171, 779.36)' filter='url(%23사각형_4167)'%3E%3Crect id='사각형_4167-2' data-name='사각형 4167' width='30' height='21' rx='10.5' transform='translate(9 5)' fill='%23c2c2c2'/%3E%3C/g%3E%3Cg id='그룹_6068' data-name='그룹 6068' transform='translate(191 793.438)'%3E%3Cpath id='패스_8001' data-name='패스 8001' d='M196.286,792.438l4.214,4.705,3.929-4.705' transform='translate(-196.286 -792.438)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: 0;
    background-color: transparent;
}
.accordion.active .btn-arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='40' viewBox='0 0 48 40'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='48' height='40' fill='none'/%3E%3C/clipPath%3E%3Cfilter id='사각형_4244' x='0' y='0' width='48' height='40' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='4' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='blur'/%3E%3CfeFlood flood-opacity='0.102'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3C/filter%3E%3Cfilter id='사각형_4167' x='9' y='5' width='30' height='23' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1' input='SourceAlpha'/%3E%3CfeGaussianBlur result='blur-2'/%3E%3CfeFlood flood-color='%23a1a0a0'/%3E%3CfeComposite operator='in' in2='blur-2'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg id='bt_details_on' clip-path='url(%23clip-path)'%3E%3Cg id='bt_details_on-2' data-name='bt_details_on' transform='translate(-171 -779.364)'%3E%3Cg transform='matrix(1, 0, 0, 1, 171, 779.36)' filter='url(%23사각형_4244)'%3E%3Crect id='사각형_4244-2' data-name='사각형 4244' width='30' height='22' rx='11' transform='translate(9 5)' fill='%23fff'/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 171, 779.36)' filter='url(%23사각형_4167)'%3E%3Cg id='사각형_4167-2' data-name='사각형 4167' transform='translate(9 5)' fill='%23fff' stroke='%23c2c2c2' stroke-width='1'%3E%3Crect width='30' height='22' rx='11' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='29' height='21' rx='10.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='그룹_6068' data-name='그룹 6068' transform='translate(-5.286)'%3E%3Cpath id='패스_8001' data-name='패스 8001' d='M196.286,797.143l4.214-4.705,3.929,4.705' fill='none' stroke='%23c2c2c2' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* progress */
.progress-box {
    margin-left: 3px;
}
.progress-box .progress-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.progress-box .progress-txt {
    font-weight: bold;
    font-size: 14px;
    flex-basis: 50px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.progress-box .progress-bar {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 10px;
    border-radius: 5px;
    background-color: #d9ddee;
    vertical-align: middle;
    flex-grow: 1;
    box-sizing: border-box;
}

.progress-box .progress {
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: #4f67ff;
    font: 0/0 m;
    color: transparent;
}
.progress-box .progress-gpa {
    flex-basis: 50px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}
.panel {
    background-color: white;
    display: none;
    overflow: hidden;
}
.panel .progress-box .progress-txt {
    font-weight: normal;
    font-size: 10px;
}
.panel .progress-box .progress-gpa {
    font-weight: normal;
    font-size: 12px;
}
.panel .progress-box .progress {
    background-color: #7e90ff;
}


/* 발음평가 종합그래프 */
.index-box {
    padding-top: 20px;
    text-align: center;
}
.index-box .txt span {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    background-color: #878aeb;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.index-box .ave {
    font-size: 19px;
}
.index-box .ave strong {
    font-size: 30px;
    color: #4f53e1;
}
.comt {
    margin-top: 5px;
    padding: 25px 14px;
    background-color: #fff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;;
}
.per-box {
    display: flex;
    align-items: center;
    padding: 20px 20px 0;
}
.per-box .per {
    flex-basis: 90px;
    font-weight: bold;
    font-size: 22px;
    color: #4F67FF;
}
.per-box .txt {
    display: inline-block;
    width: 100%;
    padding:2px 10px;
    border-radius: 11px;
    background-color: #ccd6ff;
    font-size: 12px;
    color: #4D51CB;
    text-align: center;
}

.study-box {
}
.study-box ul {
    display: flex;
    flex-wrap: wrap;
}
.study-box li {
    position: relative;
    width: 50%;
    
}
.study-box li .study-bg {
    position: relative;
    min-height: 85px;
    margin-top: 8px;
    padding: 20px 30px 25px 20px;
    background-color: #deedff;
    border-radius: 15px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 20px 60px;
}

.study-box li:first-child .study-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='70' height='48.266' viewBox='0 0 70 48.266'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='70' height='48.266' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='img_book' clip-path='url(%23clip-path)'%3E%3Cg id='img_book-2' data-name='img_book' transform='translate(2 2)'%3E%3Cpath id='패스_6751' data-name='패스 6751' d='M59.889,46.266H35.111V8.736a6.872,6.872,0,0,1,7-6.736H59.889A7.962,7.962,0,0,1,68,9.805V38.46A7.962,7.962,0,0,1,59.889,46.266Z' transform='translate(-2 -2)' fill='none' stroke='%239cc8fc' stroke-width='4'/%3E%3Cpath id='패스_6752' data-name='패스 6752' d='M10.111,46.266H34.889V8.736a6.872,6.872,0,0,0-7-6.736H10.111A7.962,7.962,0,0,0,2,9.805V38.46A7.962,7.962,0,0,0,10.111,46.266Z' transform='translate(-2 -2)' fill='none' stroke='%239cc8fc' stroke-width='4'/%3E%3Cpath id='패스_6753' data-name='패스 6753' d='M56.111,16H46.555a2,2,0,0,1,0-4h9.556a2,2,0,0,1,0,4' transform='translate(-2 -2)' fill='%239cc8fc'/%3E%3Cpath id='패스_6754' data-name='패스 6754' d='M22.778,16H13.222a2,2,0,0,1,0-4h9.556a2,2,0,0,1,0,4' transform='translate(-2 -2)' fill='%239cc8fc'/%3E%3Cpath id='패스_6755' data-name='패스 6755' d='M22.778,25.556H13.222a2,2,0,1,1,0-4h9.556a2,2,0,0,1,0,4' transform='translate(-2 -2)' fill='%239cc8fc'/%3E%3Cpath id='패스_6757' data-name='패스 6757' d='M22.778,25.556H13.222a2,2,0,1,1,0-4h9.556a2,2,0,0,1,0,4' transform='translate(-2 7.557)' fill='%239cc8fc'/%3E%3Cpath id='패스_6756' data-name='패스 6756' d='M56.111,25.556H46.555a2,2,0,0,1,0-4h9.556a2,2,0,0,1,0,4' transform='translate(-2 -2)' fill='%239cc8fc'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.study-box li:nth-child(2) .study-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='65' height='46' viewBox='0 0 65 46'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='65' height='46' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='img_image' clip-path='url(%23clip-path)'%3E%3Cg id='img_image-2' data-name='img_image'%3E%3Cg id='사각형_4089' data-name='사각형 4089' fill='none' stroke='%239cc8fc' stroke-width='4'%3E%3Crect width='65' height='46' rx='10' stroke='none'/%3E%3Crect x='2' y='2' width='61' height='42' rx='8' fill='none'/%3E%3C/g%3E%3Cpath id='패스_6743' data-name='패스 6743' d='M415.169,501.656h.011c-.115-.136-.185-.21-.185-.21v0a55.215,55.215,0,0,0-6.353-4.541c-3.508-2.277-6.479-3.993-6.891-3.988a1.728,1.728,0,0,0-2.248.936l0,0a3.142,3.142,0,0,0-.166.505,62.782,62.782,0,0,0-.358,8.48,68.022,68.022,0,0,0,.337,8.38h0s.006.026.015.067l.009.036a2.609,2.609,0,0,0,.154.471l.012-.012a1.805,1.805,0,0,0,.137.3,1.772,1.772,0,0,0,2.375.563v.007s.25-.13.583-.335h0c1.3-.69,3.506-2.015,5.974-3.606,3.684-2.375,6.591-4.467,6.7-4.813.023-.031.051-.057.071-.088A1.77,1.77,0,0,0,415.169,501.656Z' transform='translate(-373.905 -479.789)' fill='%239cc8fc'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.study-box li:nth-child(3) .study-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='73.826' height='47.222' viewBox='0 0 73.826 47.222'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='73.826' height='47.222' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='img_word' clip-path='url(%23clip-path)'%3E%3Cg id='img_word-2' data-name='img_word' transform='translate(0 0)'%3E%3Cg id='사각형_4139' data-name='사각형 4139' transform='translate(5.371 5.671) rotate(-5)' fill='none' stroke='%239cc8fc' stroke-width='4'%3E%3Crect width='65.067' height='41.71' rx='10' stroke='none'/%3E%3Crect x='2' y='2' width='61.067' height='37.71' rx='8' fill='none'/%3E%3C/g%3E%3Ctext id='word' transform='matrix(0.996, -0.087, 0.087, 0.996, 60.005, 27.308)' fill='%239cc8fc' font-size='16' font-family='JalnanOTF, Jalnan OTF' letter-spacing='-0.01em'%3E%3Ctspan x='-43' y='0'%3Eword%3C/tspan%3E%3C/text%3E%3Cpath id='합치기_56' data-name='합치기 56' d='M6.688,17.65v.005ZM1.855,14.432A8.96,8.96,0,0,1,2.687,2.575,8.9,8.9,0,0,1,8.967,0a1.545,1.545,0,0,1,.156.005,8.982,8.982,0,0,1,8.81,9.131,8.874,8.874,0,0,1-1.827,5.271l-.012-.009a1.691,1.691,0,0,1-2.2-.123,1.836,1.836,0,0,1-.678-2.057l.035,0A5.371,5.371,0,0,0,9.067,3.595H8.973A5.382,5.382,0,0,0,6.333,13.67l.356,3.98A8.983,8.983,0,0,1,1.855,14.432Z' transform='translate(0 1.248)' fill='%239cc8fc'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.study-box li:nth-child(4) .study-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='67' height='51' viewBox='0 0 67 51'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='67' height='51' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='img_express' clip-path='url(%23clip-path)'%3E%3Cg transform='translate(-207 -53)'%3E%3Cg id='img_express-2' data-name='img_express' transform='translate(209 55.28)' style='mix-blend-mode: normal;isolation: isolate'%3E%3Cpath id='합치기_55' data-name='합치기 55' d='M15.881,45.668c1.811-.979,1.852-3.7,1.637-5.564C5.121,37.018,0,29.541,0,20.8,0,9.314,7.873,0,31.5,0S63,9.314,63,20.8c0,11.475-8.842,20.777-31.389,20.809C28.529,45.789,23.012,47,19.309,47,16.486,47,14.717,46.3,15.881,45.668Z' transform='translate(0 -0.28)' fill='none' stroke='%239cc8fc' stroke-width='4'/%3E%3Ccircle id='타원_652' data-name='타원 652' cx='4.5' cy='4.5' r='4.5' transform='translate(12 16.72)' fill='%239cc8fc'/%3E%3Ccircle id='타원_653' data-name='타원 653' cx='4.5' cy='4.5' r='4.5' transform='translate(27 16.72)' fill='%239cc8fc'/%3E%3Ccircle id='타원_654' data-name='타원 654' cx='4.5' cy='4.5' r='4.5' transform='translate(42 16.72)' fill='%239cc8fc'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.study-box li:nth-child(2) .study-bg::before,
.study-box li:nth-child(4) .study-bg::before {
    position: absolute;
    content:'';
    display: block;
    top: 15px;
    left: -2px;
    bottom: 15px;
    width: 3px;
    height: calc(100% - 30px);
    background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 10px, transparent 10px, transparent 21px, #ffffff 21px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}

.study-box .txt {
    font-family: 'NanumSquareRound';
    font-weight: 500;
    font-size: 16px;
    color: #478CDF;
}
.study-box .num {
    margin-top: 18px;
    font-family: 'yg-jalnan';
    font-weight: 800;
    font-size: 30px;
    color: #478CDF;
    text-align: right;
}
.study-box .icon-num {
    position: absolute;
    top: -8px;
    right: 0;
    min-width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #AC5EFB;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    text-align: center;
}
.study-box .icon-arrowup {
    display: inline-block;
    width: 12px;
    height: 22px;
    margin-left: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.412' height='21.715' viewBox='0 0 11.412 21.715'%3E%3Cpath id='arrowup' d='M-49.374-227.724a2,2,0,0,1-2-2v-10.867H-52.9a2,2,0,0,1-1.589-3.214l3.7-4.848a2,2,0,0,1,3.179,0l3.7,4.848a2,2,0,0,1-1.589,3.214h-1.528v10.867a2,2,0,0,1-2,2Z' transform='translate(54.906 249.439)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
}
.express-panel {
    margin: 0 8px;
    padding: 8px 0 13px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.chart-bar {
    position: relative;
    padding: 30px 35px 20px;
}
.chart-bar:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 54px;
    bottom: 20px;
    width: 12px;
    background: #fff;
}
.chart-line2 {
    padding: 0 20px;
}
.chart-radar {
    position: relative;
    padding: 10px 0 0;
    /* width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid; */
    border-color: pink transparent;
}
/* .chart-radar:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent pink;
  } */
  /* #radarChart {
    background-image: url('../images/box_graph_02@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;

  } */
  #radarChart {position: relative; z-index:2; margin: 0 auto;}
  .chart-radar:before {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: calc(100% - 12px); ;
    background-image: url('../images/box_graph_01@2x.png');
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size:contain;
    z-index:1;
    /* background-size:46.923vw; */
}
.chart-line-full {
    display: none;
    margin-top: 20px;
    padding: 0 30px;
}